.quick-res-form {
    background-color: silver;
    padding: 15px;
    margin: 30px 60px;
    border-radius: 0 25px 0 25px;
}

.quick-res-header {
    margin: 30px 30px 0 30px;
}

.quick-res-btn {
    background-color: darkcyan;
    border-color: darkcyan;
    color: white;
}

.quick-res-btn:hover {
    background-color: darkcyan;
    border-color: darkcyan;
    color: silver;
}

.quick-res-image {
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
    background-size: cover;
    border-left: darkcyan 2px solid;
    min-height: 80vh;
}
