.appointment-history-title {
    font-size: larger;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-weight: bold;
    padding-left: 1em;
    text-align: left;
}

.history-table {
    margin: 30px 190px 100px 190px;
    font-size: larger;
    text-align:center;
   
}

.h-table1{
    margin: 30px 50px 100px 70px;
    font-size: larger;
    text-align:center;

}

.h-table2{
    margin: 30px 50px 100px 30px;
    font-size: larger;
    text-align:center;

}
