.CreateAppointment table {
    padding: 30px;
    border-radius: 0 25px 0 25px;
    margin-left: 40px;
}

.CreateAppointment table td {
    padding-right: 20px;
}

.CreateAppointment em {
    color: darkcyan;
}

.create-bttn {
    color: white;
    background-color: darkcyan;
}

.create-bttn:hover {
    color: silver;
}